@page "/campaign/{CampaignID}/combat/{CombatID}"
@using d20Web.Models

@if (@Combat != null && Combatants != null)
{
    <div class="combat-page">
        <div class="combatants-list">
            @foreach (Combatant combatant in Combatants.Where(p => CanViewCombatant(p)))
            {
                <div class="combatant-item-current @CombatantClass(combatant)">&gt;</div>
                <div class="combatant-item-name @CombatantClass(combatant)">@(combatant.DisplayName ?? combatant.Name)</div>
            }
        </div>
        <div class="combat-info">
            <div class="round">Round:  @Combat.Round</div>
        </div>
    </div>
}
else
{
    <div class="loading">Loading...</div>
}